body
  margin: 0px

.wrapper-container
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr

header
  grid-column-start: 1
  grid-column-end: 9

nav
  grid-column: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  .breakfast
    grid-column: 1/2
  .lunch
    grid-column: 2/3
  .dinner
    grid-column: 3/4
  .blog
    grid-column: 4/5

main
  grid-column-start: 1
  grid-column-end: 9

.test
  background-color: orangered
  height: 25px
  border: 1px solid greenyellow

.main-content
  grid-column-start: 2
  grid-column-end: 9
  .img
    border: 2px solid green
    justify-self: stretch
  .title
    border: 2px dashed pink


