body
  margin: 0px

.wrapper-container
  display: grid
  //grid-template-rows: [header-start] 1fr [main-start] 1fr [main-end]
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr

header
  grid-column-start: 1
  grid-column-end: 9
  grid-row-start: header-start
  grid-row-end: main-end
  background-color: rgba(255, 50, 50, 0.2)

.nav
  grid-column: 1/9
  display: flex
  justify-content: space-around
  height: 100vh
  div
    display: grid
    grid-template-rows: 150px 1fr
    text-align: center
    flex-grow: 1
    -webkit-transition: flex-grow 2s
    transition: flex-grow 2s
    h2
      grid-row: 2/3
    &:hover
      flex-grow: 2

  .breakfast
    background-color: #33A0CE
  .lunch
    background-color: hotpink
  .dinner
    background-color: darkseagreen
  .blog
    background-color: yellow

main
  grid-column-start: 1
  grid-column-end: 9

.test
  background-color: orangered
  height: 25px
  border: 1px solid greenyellow

.main-content
  grid-column-start: 2
  grid-column-end: 9
  .img
    border: 2px solid green
    justify-self: stretch
  .title
    border: 2px dashed pink


