body {
  margin: 0px; }

.wrapper-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

header {
  grid-column-start: 1;
  grid-column-end: 9; }

nav {
  grid-column: 1 / 9;
  justify-content: space-between !important; }
  nav a {
    background-color: pink; }

main {
  grid-column-start: 1;
  grid-column-end: 9; }

.test {
  background-color: orangered;
  height: 25px;
  border: 1px solid greenyellow; }

.main-content {
  grid-column-start: 2;
  grid-column-end: 9; }
  .main-content .img {
    border: 2px solid green;
    justify-self: stretch; }
  .main-content .title {
    border: 2px dashed pink; }
