body {
  margin: 0px; }

.wrapper-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

header {
  grid-column-start: 1;
  grid-column-end: 9; }

nav {
  grid-column: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  nav .breakfast {
    grid-column: 1/2; }
  nav .lunch {
    grid-column: 2/3; }
  nav .dinner {
    grid-column: 3/4; }
  nav .blog {
    grid-column: 4/5; }

main {
  grid-column-start: 1;
  grid-column-end: 9; }

.test {
  background-color: orangered;
  height: 25px;
  border: 1px solid greenyellow; }

.main-content {
  grid-column-start: 2;
  grid-column-end: 9; }
  .main-content .img {
    border: 2px solid green;
    justify-self: stretch; }
  .main-content .title {
    border: 2px dashed pink; }
